@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.entirety {
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

.alerts {
  margin-bottom: 50px;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

.content-writer {
  resize: none;
}
